@model IndignaFwk.Web.FrontOffice.Models.ContenidoModel 

@{
    ViewBag.Title = "[Nombre del grupo] - Contenidos";
    Layout = "~/Content/layout_2/layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "El contenido no es válido, intente nuevamente.")

<h2>Compartir contenido</h2>

@using (Html.BeginForm()) 
{
    <div class="areaFormulario">    
        <table>
            <tr>    
                <td>
                     <div class="fieldLabel">
                        @Html.LabelFor(m => m.Tipo)
                    </div>
                    <div class="fieldValue">
                        @Html.TextBoxFor(m => m.Tipo)
                        @Html.ValidationMessageFor(m => m.Tipo)
                    </div>
                </td>
                <td>
                    <div class="fieldLabel">
                        @Html.LabelFor(m => m.Titulo)
                    </div>
                    <div class="fieldValue">
                        @Html.TextBoxFor(m => m.Titulo)
                        @Html.ValidationMessageFor(m => m.Titulo)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="fieldLabel">
                        @Html.LabelFor(m => m.Comentario)
                    </div>            
                    <div class="fieldValue">
                        @Html.TextAreaFor(m => m.Comentario)
                        @Html.ValidationMessageFor(m => m.Comentario)
                    </div>
                </td>
                <td>
                    <div class="fieldLabel">
                        @Html.LabelFor(m=>m.Url)
                    </div>    
                    <div class="fieldValue">
                        @Html.TextBoxFor(m => m.Url)
                        @Html.ValidationMessageFor(m => m.Url)
                    </div>
                </td>
            </tr>            
        </table>   
    </div>
    
    <div class="areaBotones">
        <ul>            
            <li>
                <div class="boton">
                    <a href="#">Compartir</a>
                </div>       
            </li>
            <li>
                <div class="boton">
                    <a href="@Url.Action("Index","Home")">Volver</a>
                </div>       
            </li>
        </ul>        
    </div>              
}