@model IndignaFwk.Web.FrontOffice.Models.LoginModel 

@{
    ViewBag.Title = @ViewBag.GrupoSite.Nombre + " - Login";
    Layout = "~/Content/" + ViewBag.GrupoSite.Layout.NombreLayout + "/layout.cshtml";
}

@Html.ValidationSummary(true, "Datos incorrectos, intente nuevamente.")

<h3>Inicio de sesión</h3>

@using (Html.BeginForm(null, "Account", FormMethod.Post, new { @id = "formLogin" }))
{
    <div class="areaFormulario">
        <table>
            <tr>
                <td>
                    <div id="fieldLabel">
                        @Html.LabelFor(m => m.Email)
                    </div>
                    <div class="fieldValue">
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </td>                
                <td></td>
            </tr>   
            <tr>
                <td>
                    <div class="fieldLabel">
                        @Html.LabelFor(m => m.Contraseña)
                    </div>
                    <div class="fieldValue">
                        @Html.PasswordFor(m => m.Contraseña)
                        @Html.ValidationMessageFor(m => m.Contraseña)
                    </div>
                </td>
                <td></td>
            </tr>  
            
            <tr>
                <td colspan="2">
                    <div id="divConectarFacebook">
                        <a href="javascript:facebookLogin(); return false;">
                            <img alt="fb-login" src="@Url.Content("~/Content/shared/images/ico-facebook.png")" />
                        </a>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <div class="fieldLabel">
                        <p> 
                            * Debe habilitar el uso de Cookies en el navegador 
                            para poder autenticarse correctamente.
                        </p>
                    </div> 
                </td>
            </tr>       
        </table>        
    </div>
    
    <div class="areaBotones">
        <ul>    
            <li>
                <div class="boton">
                    <a href="#" onclick="submitForm('Login');">Acceder</a>
                </div>       
            </li>
            <li>
                <div class="boton">
                    <a href="@Url.Action("Registro", "Account")">Registrarme</a>
                </div>
            </li>
        </ul>     
    </div>
}

<!-- Div para modal de registro con facebook -->
<div id="divRegistroFacebook" style="display: none;" title="Login con facebook">
    <p>
        Debe completar los siguientes datos para loguearse con facebook
    </p>
    <div class="areaFormulario">    
        <table width="100%">
            <tr>
	            <td>
	                <div class="fieldLabel" id="divNombreFb">Nombre:</div>
	            </td>
            </tr>
            <tr>
	            <td>
	                <div class="fieldLabel" id="divApellidoFb">Apellido:</div>
	            </td>
            </tr>            
            <tr>
	            <td>
	                <div class="fieldLabel" id="divEmailFb">E-mail:</div>
	            </td>
            </tr>
            <tr>
	            <td>
	                <div class="fieldLabel">Descripción</div>
	                <div class="fieldValue">
                        <textarea rows="6" cols="15"></textarea>
                    </div>
	            </td>                
            </tr>        
            <tr>
	            <td>
	                <div class="fieldLabel">Coordenadas</div>    
	                <div class="fieldValue">
		                <input type="text" readonly="readonly" id="txtCoordenadasFacebook" 
		                       style="cursor: pointer; width: 100%;" onclick="showMapaSelector('txtCoordenadasFacebook');" />
	                </div>
	            </td>
            </tr>            
        </table>   
    </div>
</div>

<script type="text/javascript">

    function submitForm(method) 
    {
        $("#formLogin")[0].action = '' + method;
        $("#formLogin")[0].submit();
    }

    function facebookLogin() 
    {
        FB.login(function (response) {
            if (response.authResponse) {
                FB.api('/me', function (response) {
                    $.ajax({
                        url: '@Url.Action("LoginFacebook", "Account")' + "?emailFacebook=" + response.email,
                        dataType: "html",
                        method: "GET",
                        success: function (data, textStatus, jqXHR) {
                            if (data != null) {
                                $("#divNombreFb").html("Nombre: " + response.first_name);
                                $("#divApellidoFb").html("Apellido: " + response.last_name);
                                $("#divEmailFb").html("Email: " + response.email);

                                $("#divRegistroFacebook").dialog({
                                    modal: true,
                                    resizable: false,
                                    show: "scale",
                                    hide: "explode",
                                    closeOnEscape: false,
                                    buttons: {
                                        "Aceptar": function () {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                            }
                        }
                    });
                });
            } else {
                alert('Usuario incorrecto.');
            }
        }, { scope: 'email' });
    }

</script>

