@model IndignaFwk.Web.FrontOffice.Models.ContenidoModel 

@{
    ViewBag.Title = ViewBag.GrupoSite.Nombre + "- Contenidos";
    Layout = "~/Content/" + ViewBag.GrupoSite.Layout.NombreLayout + "/layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "El contenido no es válido, intente nuevamente.")

<h2>Compartir contenido</h2>

@using (Html.BeginForm(null, "Contenido", FormMethod.Post, new { @id = "formCompartirContenido" }))
{
    <div class="areaFormulario">    
        <table>
            <tr>                    
                <td>
                    <div class="fieldLabel">
                        @Html.LabelFor(m => m.Titulo)
                    </div>
                    <div class="fieldValue">
                        @Html.TextBoxFor(m => m.Titulo, new { @tabIndex = "1" } )
                        @Html.ValidationMessageFor(m => m.Titulo)
                    </div>
                </td>
                <td>
                    <div class="fieldLabel">
                        @Html.LabelFor(m=>m.Visibilidad)
                    </div>    
                    <div class="fieldValue">
                        @Html.DropDownListFor(m => m.Visibilidad, new SelectList(ViewBag.ListaNivelesVisibilidad, "Valor", "Etiqueta"), "---", new { @tabIndex = "2" } )
                        @Html.ValidationMessageFor(m => m.Visibilidad)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="fieldLabel">
                        @Html.LabelFor(m => m.Comentario)
                    </div>            
                    <div class="fieldValue">
                        @Html.TextAreaFor(m => m.Comentario, new { @tabIndex = "3" } )
                        @Html.ValidationMessageFor(m => m.Comentario)
                    </div>
                </td>
                <td>
                    <div class="fieldLabel">                        
                        @Html.LabelFor(m=>m.Url)                                                
                        <span style="font-style:normal;">
                            (Si necesita ayuda con la URL, presione 
                            <a href="#" onclick="showAyudaUrl()" style="color:#DBDBD5;"><b>aquí</b></a>) 
                        </span> 
                    </div>    
                    <div class="fieldValue">
                        @Html.TextBoxFor(m => m.Url, new { @id = "txtUrlContenido", @onblur = "checkUrlContenido();", @tabIndex = "4" })
                        @Html.ValidationMessageFor(m => m.Url)
                    </div>                      
                    <div id="divPreviewContenido" class="previewContenido" style="display: none;"></div>                    
                </td>                                    
            </tr>             
        </table>   
    </div>
    
    <div class="areaBotones">
        <ul>                     
            <li>
                <div class="boton">
                    <a href="#" onclick="submitForm('Compartir');">Compartir</a>
                </div>       
            </li>
            <li>
                <div class="boton">
                    <a href="@Url.Action("Index","Home")">Volver</a>
                </div>       
            </li>
        </ul>        
    </div>  
    
    <div id="divAyudaUrl" style="display:none; font-size: 12px;" title="Ayuda URL de contenido">
        <p>
            Que desea compartir?            
        </p>
        <ul>            
            <li>
                <b>Un link:</b>
                <p style="margin-top: 0px;">Pegue cualquier link que comience con <i>'http://'.</i></p>
            </li>
            <li>
                <b>Una imagen: </b>
                <p style="margin-top: 0px;">
                    Copie el link de cualquier imagen de la web y peguelo en 
                    la caja de texto.
                </p>
            </li>
            <li>
                <b>Un video de YouTube: </b>
                <p style="margin-top: 0px;">
                    Copie la URL de la barra de direcciones tal cual está
                    de cualquier video de YouTube y peguela en la caja de texto.
                </p>
            </li>
        </ul>
        <p>
            <i><u>
                Si la URL es válida se presentara un preview debajo a la caja de texto, 
                en caso contrario el error correspondiente.
            </u></i>
        </p>
    </div>            
}

<script type="text/javascript">

    function showAyudaUrl() {
        $("#divAyudaUrl").dialog({
            modal: true,
            resizable: false
        });
    }

    function submitForm(method) {
        $("#formCompartirContenido")[0].action = '' + method;
        $("#formCompartirContenido")[0].submit();
    }

    function checkUrlContenido() 
    {
        var divPreview = $("#divPreviewContenido");
        var urlContenido = $("#txtUrlContenido").val();

        if (urlContenido && urlContenido != "") 
        {
            if (divPreview.css("display") == "none") 
            {
                $.ajax({
                    url: '@Url.Action("CheckUrlContenido", "Contenido")' + "?urlContenido=" + urlContenido,
                    dataType: "html",
                    method: "GET",
                    success: function (data, textStatus, jqXHR) {
                        if (data != null) {
                            divPreview.html(data);
                            divPreview.show("slide", { direction: "up" }, "normal", null)
                        }
                    }
                });
            }            
        }
        else {
            if ($("#divPreviewContenido").css("display") != "none") {
                $("#divPreviewContenido").hide("slide", { direction: "up" }, "normal", null)
            }            
        }
    }
</script>